.ddsmoothmenu-v ul{
margin: 0;
padding: 0;
/*width:100%; *//* Main Menu Item widths */
/*list-style-type: none;*/
/*font: bold 12px Verdana;*/
font-size: medium;
}
 
.ddsmoothmenu-v ul li{
/*position: relative;*/
    top: 0px;
    left: 0px;
    /*height: 27px;*/
    /*cursor:pointer;*/
    font-size: medium;
}

/* Top level menu links style */
.ddsmoothmenu-v ul li a{
/*display: block;*/
/*overflow: auto; */ /*force hasLayout in IE7 */
color: yellow;
text-decoration: none;
/*padding: 6px;*/
font-size: medium;
/*border-bottom: 1px solid #778;*/
/*border-right: 1px solid #778;*/
}

.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active{
background: #FFCCFF; /*background of menu items (default state)*/
color: #0000FF;
font-size: medium;
/*height: 14px;*/
}


.ddsmoothmenu-v ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #66CCFF; 
color: white;
}

.ddsmoothmenu-v ul li a:hover{
background: #FFFFFF; /*background of menu items during onmouseover (hover state)*/
color:Black;
}

/*Sub level menu items */
.ddsmoothmenu-v ul li ul{
/*position: absolute;*/
/*width:100%;*/ /*Sub Menu Items width */
top: 0;
font-size: medium;
/*font-weight: normal;*/
visibility: hidden;
}

 
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li { float: left; height: 1%; }
* html .ddsmoothmenu-v ul li a { height: 1%; }
/* End */